#title {
  background-color: #ff4c68;
}

body {
  font-family: 'Ubuntu-thin', sans-serif;
  margin:0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  color: white;
  padding-top: 15%;

  line-height: 1.5;
  z-index: 1;
}

h2 {
  font-family: 'Ubuntu-thick', sans-serif;
  /* padding-top: 10%; */
  padding: 15% 13% 3% 13%;
  /* padding-bottom: 3%; */
  font-size: 3.5rem;
  color: white;
  text-align: center;
}
.footerhead {
  font-family: 'Ubuntu-thick', sans-serif;
padding-top: 1%;
 padding-bottom: 1%;
  font-size: 2rem;
  color: white;
  text-align: center;
}

p {
  color: grey;
}
.navbar {
  padding-left: 0;

}

.button {
  font-family: 'Ubuntu', sans-serif;
}

.container-fluid {
  padding: 5% 15%;
  padding-top: 0px;
  padding-bottom: 15%;
}

.img1 {

  transform: rotate(25deg);
  position: absolute;
  padding-bottom: 35%;
  margin-top: -200px;
  padding-left: 45%;

}

.btn-outline-dark {
  color: white;
  border: white solid 0.5px;
}

.nav-link {
  color: white;
}

.div-img1 {
  color: #Ef8172;
  transform: scale(5);
  margin-bottom: 20%;
}

.div-img1:hover {
  color: red;
}



.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
}

.div1 {
  padding-top: 2%;
  padding-left: 6%;
  padding-right: 6%;
}

#features {
  padding: 7% 13%;
  text-align: center;
  position: relative;
  background-color: #fff;
  z-index: 1;
}

#testimonials {
  background-color: #Ef8172;
  text-align: center;
}

.testimg {
  margin-bottom: 70px;
  border-radius: 100%;
  width: 15%;
}

#press {
  background-color: #Ef8172;
}

.press-img {
  width: 15%;
  align-items: center;
  margin-left: 130px;
}

#pricing {
  padding: 100px;
  padding-top: 50px;
}

.plan-heading {
  color: black;
  padding-top: 2%;
  padding-bottom: 2%;
}

.heading-desc {
  text-align: center;
  padding-top: 0;
  padding-bottom: 2%;
}

.card {
  padding: 5px;
}

.pricehead {
  color: black;
}

#cta,#footer{
  text-align: center;
  color: white;
  background-color: #ff4c68;
}
.footer{
  text-align: center;
  color: white;
  background-color: #ff4c68;
  color:white;
  padding-top: 10px;
  margin-bottom: 0;
}
